In [5]:
class MetaCount(type):
    def __new__(cls, name, bases, attrs):
        new_cls = super(MetaCount, cls).__new__(cls, name, bases, attrs)
        new_cls.count = 0
        return new_cls


class Person(metaclass=MetaCount):

    def __init__(self, name, lastname, age, address):
        self.__name = name
        self.age = age
        self.address = address
        self.__lastname = lastname
        type(self).count += 1
        # self.count += 2 creates an *instance* variable

    @property
    def name(self):
        return self.__name

    @name.setter
    def name(self, newvalue):
        self.__name = newvalue

    @property
    def lastname(self):
        return self.__lastname

    @lastname.setter
    def lastname(self, newvalue):
        self.__lastname = newvalue

    def get_fullname(self):
        return f"{self.__lastname} {self.__name}"


class Employee(Person, metaclass=MetaCount):

    def __init__(self, employee_code, salary_per_hour, start_data, departament):
        Person.__base__.__init__(self)
        self.employee_code = employee_code
        self.salary_per_hour = salary_per_hour
        self.start_data = start_data
        self.departament = departament
        type(self).count += 1


p = Person(age=25, address="calle 123 Av Evergreen", name="Richard", lastname="Robles")
p1 = Person(age=25, address="calle 123 Av Evergreen", name="Richard", lastname="Robles")
p2 = Person(age=25, address="calle 123 Av Evergreen", name="Richard", lastname="Robles")

e = Employee(123, 8000000, '2020-12-12', 'accountability')
e.name = "ALfonso"
e.lastname = "De la hoz"

# print(e.name)
print(f"Instances of person class = {p.count}")
print(f"Instances of employee class = {e.count}")
print(p.get_fullname())
p.get_fullname()

Instances of person class = 3
Instances of employee class = 1
Robles Richard

'Robles Richard'

In [6]:
with open("employees.txt", encoding='utf-8') as f:
    print(f.read())

employee_code,name,lastname,address,age,start_date,salary,position,department
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development
12345,Richard,Robles,calle 59A #10a 52,28,2020-12-03,12000000,Python Developer,Development

In [7]:
import time


def check_types(int, float, str):
    def wrapper(function):

        def wrapper_inner(*args, **kwargs):
            if type(args[0]) == int and type(args[1]) == float and type(args[2]) == str:
                function(*args)
            else:
                print("No se puede ejecutar la funcion")

        return wrapper_inner

    return wrapper


@check_types(int, float, str)
def f(a, b, c):
    print(a, b, c)


f(1, 2.232, "3")


def decorator(func):
    def wrapper_inner(*args, **kw):
        start = time.perf_counter()
        resutl = func(*args, **kw)
        end = time.perf_counter()
        runtime = end - start
        return runtime

    return wrapper_inner


@decorator
def print_range():
    for i in range(10):
        print(i)


print_range()

1 2.232 3
0
1
2
3
4
5
6
7
8
9

0.00015410000014526304

*Exercise 4 <br/>
Suppose that you have 5 Python projects which you’re working on and each of them have
their own dependencies (libraries). These projects have common dependencies but different
versions of the same dependencies. <br/>
Functionality:
- How could you handle this case? How would you solve it?

    managing dependencies using pipenv

- If you imported objects from some module, will the requested objects be loaded only?
or will all the objects and definitions be loaded?. Explain. <br/>

all if you dont define the specific item from the module that you are importing using from module import whatever

- If you imported objects from a module, would the lines code outside of functions and
classes be executed? <br/>
no it would not be executed

- What is the purpose of “if __name__ == __main__” in the bottom part of any module?
When will it be executed?<br/>
For executing modules as scripts you can make the file usable as a script as well as an importable module, because the code that parses the command line only runs if the module is executed as the “main” file

In [8]:
# Exercise 7
import threading
import time
import random

total = 0


def update_total(amount, lock):
    lock.acquire()
    global total
    total0 = total
    total = total0 + amount
    lock.release()


threads = []
transactions = [2, 100, 20, 300, 400, 250, 15, 89]
lock = threading.Lock()

for amount in transactions:
    mythread = threading.Thread(target=update_total, args=[amount, lock])
    mythread.start()
    threads.append(mythread)

for t in threads:
    t.join()

print(sum(transactions), total)

1176 1176

In [9]:
# Exercise 5
from collections.abc import MutableSequence
from collections import UserList


class MyList(UserList):
    """A container for manipulating lists of hosts"""

    def __init__(self, data=None):
        """Initialize the class"""
        super(MyList, self).__init__()
        if (data is not None):
            self._list = list(data)
        else:
            self._list = list()

    def __repr__(self):
        return "<{0} {1}>".format(self.__class__.__name__, self._list)

    def __len__(self):
        """List length"""
        return len(self._list)

    def __getitem__(self, ii):
        """Get a list item"""
        return self._list[ii]

    def __delitem__(self, ii):
        """Delete an item"""
        del self._list[ii]

    def __setitem__(self, ii, val):
        # optional: self._acl_check(val)
        self._list[ii] = val

    def __str__(self):
        return str(self._list)

    def insert(self, ii, val):
        # optional: self._acl_check(val)
        self._list.insert(ii, val)

    def append(self, val):
        self.insert(len(self._list), val)


foo = MyList([1, 2, 3, 4, 5])
foo.append(6)
print(foo)

[1, 2, 3, 4, 5, 6]

In [10]:
# A simple Python program to introduce a linked list 

# Node class 
class Node:

    # Function to initialise the node object
    def __init__(self, data):
        self.data = data  # Assign data
        self.next = None  # Initialize next as null


# Linked List class contains a Node object 
class LinkedList:

    # Function to initialize head
    def __init__(self):
        self.head = None


# Start with the empty list 
llist = LinkedList()

llist.head = Node(1)
second = Node(2)
third = Node(3)
llist.head.next = second;  # Link first node with second
second.next = third;  # Link second node with the third node
third.next = None

print(llist.head.data)

1

In [11]:
class Countdown(object):
    def __init__(self, start):
        self.start = start

    def __iter__(self):
        n = self.start
        while n > 0:
            yield n
            n -= 1


c = Countdown(5)

for x in c:
    print(x)

5
4
3
2
1


The magic method __iter__ implement the ways to iterate over a sequence of holding multiples data

<code>
import csv

def reader(filename):
    with open(filename, 'r') as f:
        next(f)
        for line in f:
            yield line

def parse_transaction(lines):
    rows = csv.reader(lines)
    types = [int, str, str, str, str, str, str, str, str]
    converted = ([func(val) for func, val in zip(types, rows)] for row in rows)
    return converted


def filter(rows, func):
    filtered = (row for row in rows if func(row))


lines = reader('./employees.csv')

transaction = parse_transaction(lines)

filtered_transaction = filter(transaction, lambda x: x[0] > 1)

for t in filtered_transaction:
    print(t)
</code>

In [12]:
import types
import collections


class Overloaded(object):
    instances = 12

    def changed_method(self, number):
        self.instance_variable = self.instance_variable + 1
        self._nvalue = 0

    @property
    def nvalue(self):
        return self._nvalue

    @nvalue.setter
    def nvalue(self, value: int):
        if not isinstance(value, int):
            raise TypeError("The value must be an integer")

        if value < 0:
            raise ValueError("The value must be greater than 0")

        self._nvalue = value


def new_changed_method(self, number):
    pass


print(Overloaded.__dict__)
Overloaded.changed_method = new_changed_method
over_object = Overloaded()
over_object.changed_method(20)
over_object.nvalue = 200

print(over_object.__dict__)
print(over_object.nvalue)
Town = collections.namedtuple('Town', ['name', 'population', 'coordinates', 'capital', 'state_bird'])
funkytown = Town('funky', 300, 'somewhere', 'lipps', 'chicken')

funkytown._asdict()


class Geeks:
    def __init__(self):
        self._age = 0

    # function to get value of _age
    def get_age(self):
        print("getter method called")
        return self._age

    # function to set value of _age
    def set_age(self, a):
        print("setter method called")
        self._age = a

    # function to delete _age attribute
    def del_age(self):
        del self._age

    # age = property(get_age, set_age, del_age)


mark = Geeks()

mark.age = 10

print(f"Edad = {mark.age}")
print(mark.__dict__, Geeks.__dict__)
print(hasattr(mark, '__getitem__'))
print(hasattr(mark, '__dict__'))
print("hasattr method")

{'__module__': '__main__', 'instances': 12, 'changed_method': <function Overloaded.changed_method at 0x0000020868644E50>, 'nvalue': <property object at 0x0000020868650630>, '__dict__': <attribute '__dict__' of 'Overloaded' objects>, '__weakref__': <attribute '__weakref__' of 'Overloaded' objects>, '__doc__': None}
{'_nvalue': 200}
200
Edad = 10
{'_age': 0, 'age': 10} {'__module__': '__main__', '__init__': <function Geeks.__init__ at 0x0000020868668550>, 'get_age': <function Geeks.get_age at 0x00000208686685E0>, 'set_age': <function Geeks.set_age at 0x0000020868668670>, 'del_age': <function Geeks.del_age at 0x0000020868668700>, '__dict__': <attribute '__dict__' of 'Geeks' objects>, '__weakref__': <attribute '__weakref__' of 'Geeks' objects>, '__doc__': None}
False
True
hasattr method

In [13]:
def factorial(numero):
    producto = 1
    for i in range(1, numero + 1):
        producto = producto * i
        producto = producto * i

    return producto


producto = factorial(5)

print(producto)

14400

In [14]:
print("hello world")
print("hola mundo")
print()
a = 999
b = a ** 12
print(a.__add__(100))
print(a.__add__(10000))

hello world
hola mundo

1099
10999

In [15]:
class Wrapper(object):
    def __init__(self, wrappee):
        self.wrappee = wrappee

    def foo(self):
        print('foo')

    def __getattr__(self, attr):
        return getattr(self.wrappee, attr)


class Wrappee(object):
    def bar(self):
        print('bar')


o2 = Wrappee()
o1 = Wrapper(o2)

print(o1.foo())

print(o1.bar())

foo
None
bar
None

In [16]:
import time


def after(seconds, func):
    time.sleep(seconds)
    func()


def greeting(name):
    print("Hello Python Developer")


after(5, lambda: greeting("Richard Robles"))


def linear(b):
    def do_linear(x, m):
        return x * m + b

    return do_linear


calculate_cab_cost = linear(20)
print(calculate_cab_cost)
cost = calculate_cab_cost(10, 1.5)
print(cost)


def make_multiplier_of(n):
    def multiplier(x):
        return x * n

    return multiplier


# Multiplier of 3
times3 = make_multiplier_of(3)

# Multiplier of 5
times5 = make_multiplier_of(5)

# Output: 27
print(times3(9))

# Output: 15
print(times5(3))

# Output: 30
print(times5(times3(2)))


def locales_setup():
    translations = {
        ('es', 'I am python programmer'): "Yo soy un programador python",
        ('en', 'Yo soy un programador python'): "I am python programmer"
    }

    def translate(text, current_lang="es"):
        try:
            return translations[(current_lang, text)]
        except KeyError:
            return text

    return translate


def typed_property(name, expected_type):
    private_name = "_" + name

    @property
    def prop(self):
        return getattr(self, private_name)

    @prop.getter
    def prop(self, value):
        if not isinstance(value, expected_type):
            raise TypeError(f"Expected {expected_type}")
        setattr(self, private_name, value)

    return prop



class Empleado(object):
        name = typed_property("name", str)
        age = typed_property("age", int)
        salary = typed_property("salary", float)

        def __init__(self, name, age, salary):
            self.name = name
            self.age = age
            self.salary = salary

        def __repr__(self):
            return f"Empleado {self.name}, {self.age}, {self.salary}"


Integer = lambda name: typed_property(name, int)
Float = lambda name: typed_property(name, float)

Hello Python Developer
<function linear.<locals>.do_linear at 0x0000020868668D30>
35.0
27
15
30

In [17]:
from threading import Thread


def fib(number):
    def _fib(n):
        if n == 0:
            return 0
        elif n == 1 or n == 2:
            return 1
        else:
            return _fib(n - 1) + _fib(n - 2)

    result = _fib(number)
    print(f"Threading number {Thread} and result {result}")
    return result


numbers = [1, 2, 3, 4, 5, 6, 7, 8]
threads = []

for number in numbers:
    myThread = Thread(target=fib, args=[number])
    myThread.start()
    threads.append(myThread)

for t in threads:
    t.join()

Threading number <class 'threading.Thread'> and result 1Threading number <class 'threading.Thread'> and result 1
Threading number <class 'threading.Thread'> and result 2

Threading number <class 'threading.Thread'> and result 3
Threading number <class 'threading.Thread'> and result 5
Threading number <class 'threading.Thread'> and result 8
Threading number <class 'threading.Thread'> and result 13
Threading number <class 'threading.Thread'> and result 21

In [18]:
from multiprocessing import Process
import os

def fib(number):
    def _fib(n):
        if n == 0:
            return 0
        elif n == 1 or n == 2:
            return 1
        else:
            return _fib(n - 1) + _fib(n - 2)

    result = _fib(number)
    print(f"Threading number {os.getpid()} and result {result}")
    return result


numbers = [1, 2, 3, 4, 5, 6, 7, 8]
proceses = []

for number in numbers:
    myProcess = Process(target=fib, args=[number])
    myProcess.start()
    proceses.append(myProcess)

for p in proceses:
    p.join()

In [19]:
from functools import reduce

listWithoutReduce = [1, 2, 3, 4, 5, 6, 7, 8]

listReduced = reduce(lambda acc, x: acc + x if x % 2 == 0 else acc + 0, listWithoutReduce, 0)
print(listReduced)

20

In [20]:
import numpy as np

np.abs(-999)

lista = [1, 2, 3, 4, 5, 6, 7, 800, 4375, 326432]

np_array = np.array(lista)

print(np_array)

print(type(np_array))

print(np.sum(np_array))
print(np.prod(np_array))
print(np.min(np_array))
print(np.max(np_array))
print(3 * np_array)
print(1 / np_array)
lista = [0.5, 0.2, 0.1, 0.4]
np_array = np.array(lista)

np.exp(-1)
1 / (1 + np.exp(-np_array))
a = [2, 3, 4, 5, 6]
b = [10, 20, 30, 40, 50]
a_np = np.array(a)
b_np = np.array(b)
suma = a_np + b_np
print(dir(np))

print(a_np + b_np)
print(np.concatenate([a_np, b_np]))
a = np.arange(0, 1, 0.1)
b = np.linspace(0, 1.1, 20)
c = np.random.normal(0, 1, 10)


print(np)
array = np.array(range(20))
matrix = array.reshape((4,5))
print(matrix.ndim)
print(matrix.size)
print(matrix.shape)
print(matrix)
print(matrix[2,3])
print(matrix > 10)
print(matrix % 2)
print(np_array[np_array % 2 == 0])
np_array = np.array(range(100)).reshape(10,10)
print("np array is",np_array[2:8,:])
print("np array is",np_array[2:5,2:4])
print("np array is",np_array[::2])
np_array = np.array(range(100)).reshape(10,10)
print(np_array[2:8,:])
print(np_array[2:5,2:4])
print(np_array[::2])
A = np.array([1,2,3,4,5])

B = np.array([2,1,3,4,5])

print((a == b))

[     1      2      3      4      5      6      7    800   4375 326432]
<class 'numpy.ndarray'>
331635
2121220096
1
326432
[     3      6      9     12     15     18     21   2400  13125 979296]
[1.00000000e+00 5.00000000e-01 3.33333333e-01 2.50000000e-01
 2.00000000e-01 1.66666667e-01 1.42857143e-01 1.25000000e-03
 2.28571429e-04 3.06342515e-06]
['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__dir__', '__doc__', '__file__', '__getattr__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_globals', '_mat', '_pytesttester', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mkl', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']
[12 23 34 45 56]
[ 2  3  4  5  6 10 20 30 40 50]
<module 'numpy' from 'C:\\Users\\richard.robles\\Anaconda3\\envs\\TechExercise\\lib\\site-packages\\numpy\\__init__.py'>
2
20
(4, 5)
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]
13
[[False False False False False]
 [False False False False False]
 [False  True  True  True  True]
 [ True  True  True  True  True]]
[[0 1 0 1 0]
 [1 0 1 0 1]
 [0 1 0 1 0]
 [1 0 1 0 1]]
[]
np array is [[20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]]
np array is [[22 23]
 [32 33]
 [42 43]]
np array is [[ 0  1  2  3  4  5  6  7  8  9]
 [20 21 22 23 24 25 26 27 28 29]
 [40 41 42 43 44 45 46 47 48 49]
 [60 61 62 63 64 65 66 67 68 69]
 [80 81 82 83 84 85 86 87 88 89]]
[[20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]]
[[22 23]
 [32 33]
 [42 43]]
[[ 0  1  2  3  4  5  6  7  8  9]
 [20 21 22 23 24 25 26 27 28 29]
 [40 41 42 43 44 45 46 47 48 49]
 [60 61 62 63 64 65 66 67 68 69]
 [80 81 82 83 84 85 86 87 88 89]]
False

<ipython-input-20-867eed2d31a4>:61: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  print((a == b))

In [29]:
import pandas as pd

pokemon = ["Bulbazor","Squirtle","Charizard","Pikachu","Onix","Geodude","Vulpix","Starmie"]
types = ["regardless Poison","Water","Fire","Electric","Rock Ground","row_stack ground","Fire","Water"]
master = ["Ash","Ash","Ash","Ash","Brock","Brock","Misty","Misty"]
pokedex_number = [1,4, 7, 25, 95, 74, 37, 121]

""" data_frame = pd.DataFrame({pokemon: pokemon, master:master, types: types, pokedex_number: pokedex_number}) """
data_frame = pd.DataFrame({"pokemon":pokemon, "master":master, "types":types, "pokedex_number":pokedex_number})

print(type(data_frame.values))

print(data_frame['pokemon'])
print(type(data_frame['pokemon']))
print(data_frame['pokedex_number'].max())
print(data_frame.columns)
data_frame.loc[3, 'types']

envolved = ["Yes","No","Yes","No","Yes","No","Yes","No"]

data_frame['envolved'] = envolved


data_frame

# una serie con un valor constante o broadcasting
data_frame['region'] = "Kanto"

data_frame

<class 'numpy.ndarray'>
0     Bulbazor
1     Squirtle
2    Charizard
3      Pikachu
4         Onix
5      Geodude
6       Vulpix
7      Starmie
Name: pokemon, dtype: object
<class 'pandas.core.series.Series'>
121
Index(['pokemon', 'master', 'types', 'pokedex_number'], dtype='object')

     pokemon master              types  pokedex_number envolved region
0   Bulbazor    Ash  regardless Poison               1      Yes  Kanto
1   Squirtle    Ash              Water               4       No  Kanto
2  Charizard    Ash               Fire               7      Yes  Kanto
3    Pikachu    Ash           Electric              25       No  Kanto
4       Onix  Brock        Rock Ground              95      Yes  Kanto
5    Geodude  Brock   row_stack ground              74       No  Kanto
6     Vulpix  Misty               Fire              37      Yes  Kanto
7    Starmie  Misty              Water             121       No  Kanto

In [31]:
data_frame[['pokemon', 'types']]

     pokemon              types
0   Bulbazor  regardless Poison
1   Squirtle              Water
2  Charizard               Fire
3    Pikachu           Electric
4       Onix        Rock Ground
5    Geodude   row_stack ground
6     Vulpix               Fire
7    Starmie              Water

In [36]:
print(data_frame.get(['pokemon','types']))

     pokemon              types
0   Bulbazor  regardless Poison
1   Squirtle              Water
2  Charizard               Fire
3    Pikachu           Electric
4       Onix        Rock Ground
5    Geodude   row_stack ground
6     Vulpix               Fire
7    Starmie              Water

In [37]:
data_frame.drop('region', axis = 1)

     pokemon master              types  pokedex_number envolved
0   Bulbazor    Ash  regardless Poison               1      Yes
1   Squirtle    Ash              Water               4       No
2  Charizard    Ash               Fire               7      Yes
3    Pikachu    Ash           Electric              25       No
4       Onix  Brock        Rock Ground              95      Yes
5    Geodude  Brock   row_stack ground              74       No
6     Vulpix  Misty               Fire              37      Yes
7    Starmie  Misty              Water             121       No

ORDERNAR COLUMNAS USANDO O CON DOBLE CORCHETE

In [40]:
data_frame[['envolved', "pokemon"]]

  envolved    pokemon
0      Yes   Bulbazor
1       No   Squirtle
2      Yes  Charizard
3       No    Pikachu
4      Yes       Onix
5       No    Geodude
6      Yes     Vulpix
7       No    Starmie

In [41]:
data_frame.loc[5]

pokemon                    Geodude
master                       Brock
types             row_stack ground
pokedex_number                  74
envolved                        No
region                       Kanto
Name: 5, dtype: object

In [42]:
data_frame.drop(1)

     pokemon master              types  pokedex_number envolved region
0   Bulbazor    Ash  regardless Poison               1      Yes  Kanto
2  Charizard    Ash               Fire               7      Yes  Kanto
3    Pikachu    Ash           Electric              25       No  Kanto
4       Onix  Brock        Rock Ground              95      Yes  Kanto
5    Geodude  Brock   row_stack ground              74       No  Kanto
6     Vulpix  Misty               Fire              37      Yes  Kanto
7    Starmie  Misty              Water             121       No  Kanto

Para leer desde archivos 
es con:

In [3]:
import pandas

df = pandas.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")

df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [5]:
import requests
import pandas

url = "https://pokemondb.net/pokedex/all"

html_text = requests.get(url).content

dfpkd = pandas.read_html(html_text)

contenido = dfpkd[0]

contenido.to_csv('./contenido.csv')

In [7]:
contenido.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65

In [8]:
contenido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   #        1045 non-null   int64
 1   Name     1045 non-null   object
 2   Type     1045 non-null   object
 3   Total    1045 non-null   int64
 4   HP       1045 non-null   int64
 5   Attack   1045 non-null   int64
 6   Defense  1045 non-null   int64
 7   Sp. Atk  1045 non-null   int64
 8   Sp. Def  1045 non-null   int64
 9   Speed    1045 non-null   int64
dtypes: int64(8), object(2)
memory usage: 81.8+ KB